/* Body Styling */
body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    background-color: rebeccapurple;
    position: fixed;
    width: 100%;
}
#logo{
    width: 71px;
    padding: 0 22px;
}
#drpbtn{
    width: 39px;
    height: 41px;
    position: relative;
    margin-top: 14px;
    filter: invert(1);
    display: none;
}
#nav-container{
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-items: center;
}
nav #ul-div{
    width: 68%;
}
nav #ul-div ul{
    width: 85%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav #ul-div ul a{
    color: white;
    text-decoration: none;
}
nav #ul-div ul a:hover{
    opacity: 0.8;
}
#active{
    color: cyan  !important;
}
#active:hover{
    opacity: 1 !important;
}
#inactive{
    display: none;
}



@media(max-width:1233px){
    #drpbtn{
        display: block;
    }
    #nav-container {
        display: none;
    }
}
@media(max-width:440px){
    
    #nav-container {
    flex-direction: column !important;
    height: 232px !important;
    }
    nav #ul-div{
        height: 77%;
    }
    nav #ul-div ul {
        height: 100% !important;
        margin: 22px !important;
        flex-direction: column !important;
    }
}



/* Section1 Styling */
#sec1::after{
    content: "";
    background: url("/Images/pexels-is-kanda-3412697.jpg") no-repeat center center/cover;
    position: absolute;
    top: 73px;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: -2;
}
#sec1 h1{
    position: absolute;
    top: 523px;
    left: 61px;
    font-size: 4rem;
    color: white;
    z-index: -1;
}
/* Section2 Styling */
#sec2{
    display: flex;
    flex-direction: column;
    position: relative;
    top: calc(170vh);
    align-items: center;
    height: 499px;
    z-index: -1;

}
#sec2 section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#sec2 section h2{
    margin-bottom: 22px;
}
#sec2 form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 87%;
}
#sec2 form input{
    width: 80%;
    height: 72%;
    margin: 22px 0;
    border-radius: 0;
    border: 1px solid;
    padding: 0 22px;
}
#sec2 form button{
    width: 94px;
    height: 345px;
    margin: 22px 0;
    border-radius: 0;
    padding: 0 22px;
    position: relative;
    top: 15px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid #0d6efd;
    color: #0d6efd;
}
/* ------------------------------------- */
/* Hover State Styling */
#sec2 form button:hover{
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    color: white;
}
/* --------------------------------------- */


/* Footer Styling */
footer{
    position: relative;
    top: calc(10vh);
    margin: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #361c4f;
    color: white;
}
#footer-container{
    padding: 22px;
}
#linear div ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    padding: 0;
}
#linear div ul li{
    margin: 0 8px;
}
#linear div ul li a{
    text-decoration: none;
    color: rgb(9, 136, 136);
}
/* Hover State Styling */
#linear div ul li a:hover{
    color: red;
}
#copyright{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: black;
}
/* Media Query */
@media(max-width:727px){
    #sec1::after {
        background: url("/Images/pexels-is-kanda-3412697.jpg") no-repeat center right /cover;
    }
    #linear div ul {
        flex-direction: column;
    }
}
@media(max-width:434px){
    #sec1::after {
        background: url("/Images/pexels-is-kanda-3412697.jpg") no-repeat center left /cover;
    }
}